h1 {
    color: cornsilk;
    font-size: 5em
}

body {
    background-image: url(assets/bigstock-Stack-Of-Books-70033240.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.flexboxContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.pageLogo {
    width: 110px
}

.headerText {
    padding-left: 20px
}

.Aligner {
    display: flex;
    align-items: center
}

p {
    font-size: 0.75em
}

/*FLIP*/
/* entire container, keeps perspective */
.flip-container {

    perspective: 1000px;
    text-align: center;
}

/* flip the pane when hovered */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
    width: 230px;
    height: 345px;
}

/* flip speed goes here */
.flipper {
    transition: 1s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front,
.back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    background-size: cover;
    background-image: url(assets/papertexture.jpg);
    display: inline-block;
}

.bookCell {
    width: 230px;
    height: 345px;
}

.innerBookPadding {
    padding: 20px
}

.hidden {
    display: none;
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.padding2 {
    padding: 30px;


}

.padding {
    padding: 30px;
    padding-top: 180px
}

.headerContainer {
    width: 100vw
}


.headerFloat {
    background-color: rgba(116, 0, 0, 0.76);
    position: fixed;
    width: 100%;
    z-index: 1;
    height: 150px;
}

.float-right {
    padding-right: 30px;
    position: relative;
    float: right;
    top: -20px;
}

input {
    width: 400px
}

.alternate-font {
    font-family: "Luminari"
}

.alternate-font2 {
    font-family: "Palatino"
}

html,
body {
    height: 100%;
    overflow: hidden;
}

#bookVue {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}



.btn-invisible {
    background-color: rgba(116, 0, 0, 0)
}

/*SPINNER*/

.loader,
.loader:before,
.loader:after {
    background: #ffffff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

.loader {
    color: #ffffff;
    text-indent: -9999em;
    margin: 88px auto;
    position: relative;
    font-size: 11px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: '';
}

.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 1.5em;
}

@-webkit-keyframes load1 {

    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}

@keyframes load1 {

    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}